{
	"SIMULATION_STEP_SIZE" = 0.0167;
	"SIMULATION_MAX_STEPS" = 5;
	"PLAYER_DASH_IMPULSE_UP" = 1;
	"PLAYER_DASH_IMPULSE_DOWN" = 1;
	"PLAYER_START_POSITION_X" = 200;
	"PLAYER_START_POSITION_Y" = 120;
	"PLAYER_OBSTACLE_BOUNCE_IMPULSE" = 0.5;
	"PLAYER_BOUNDING_BOX_SCALAR" = 0.7;
	"PLAYER_JUMP_IMPULSE_INITIAL" = 0.2;
	"PLAYER_JUMP_IMPULSE_STEP" = 0.03;
	"OBSTACLE_BOUNDING_BOX_SCALAR" = 0.6;
	"BYSTANDER_BOUNDING_BOX_SCALAR" = 0.9;
	"PARALLAX_SPEED" = 250;
	"PARALLAX_SPEED_ADJUSTMENT_FACTOR" = 300;
}