{
	"SIMULATION_STEP_SIZE" = "0.0167";
	"SIMULATION_MAX_STEPS" = 5;
	"PLAYER_DASH_IMPULSE_UP" = 2;
	"PLAYER_DASH_IMPULSE_DOWN" = "2.5";
	"PLAYER_START_POSITION_X" = 200;
	"PLAYER_START_POSITION_Y" = 120;
	"PLAYER_OBSTACLE_BOUNCE_IMPULSE" = ".5";
	"PLAYER_BOUNDING_BOX_SCALAR" = ".7";
	"OBSTACLE_BOUNDING_BOX_SCALAR" = ".6";
	"BYSTANDER_BOUNDING_BOX_SCALAR" = ".9";
	"PARALLAX_SPEED" = 250;
	"PARALLAX_SPEED_ADJUSTMENT_FACTOR" = 300;
}